<div>
    @*<span class="text-white small-text p-1 bg-secondary">@Ingredient.DisplayCalories()</span>
        <span class="text-white small-text p-1 bg-secondary">@Ingredient.DisplayCarbs()</span>
        <span class="text-white small-text p-1 bg-secondary">@Ingredient.DisplayProtein()</span>
        <span class="text-white small-text p-1 bg-secondary">@Ingredient.DisplayFat()</span>*@
    <span class="text-white small-text p-1 bg-secondary">@(Calories)kcal</span>
    <span class="text-white small-text p-1 bg-secondary">@(Carbs)g</span>
    <span class="text-white small-text p-1 bg-secondary">@(Protein)g</span>
    <span class="text-white small-text p-1 bg-secondary">@(Fat)g</span>
</div>

@code {
    [Parameter]
    public int Calories { get; set; }
    [Parameter]
    public double Carbs { get; set; }
    [Parameter]
    public double Protein { get; set; }
    [Parameter]
    public double Fat { get; set; }
}