@page "/"

<AuthorizeView>
    <Authorized Context="Auth">
        @if(User != null) { 
        <div class="container">

            <div class="row d-flex justify-content-center pt-5">
                <div class="col-12 text-center">
                    <h2 class="h4 text-muted">Calories left:</h2>
                    
                </div>
                <div class="col-12 text-center">
                    <h2 class="display-4">3070 kcal</h2>
                    <hr />
                </div>

            </div>
            <div class="row d-flex justify-content-center pb-5">
                <div class="col-md-3">
                    <p class="text-muted text-center mb-0 mt-1">Carbs</p>
                    <p class="text-muted text-center small-text mb-2">70g left</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="text-muted text-center mb-0 mt-2">Protein</p>
                    <p class="text-muted text-center small-text mb-2 ">70g left</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="text-muted text-center mb-0 mt-2">Fat</p>
                    <p class="text-muted text-center small-text mb-2">70g left</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>

            </div>
            <hr />
            <div class="row">
                @foreach (var meal in User.Meals)
                {
                    <div class="col-md-4 col-sm-12 col-12">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <p>@meal.Name</p>
                                <div>
                                    <DisplayNutrionalInformation Calories="meal.GetTotalCalories()"
                                                                 Carbs="@meal.GetTotalCarbs()"
                                                                 Protein="@meal.GetTotalProtein()"
                                                                 Fat="@meal.GetTotalFat()" />
                                </div>

                            </div>
                            <div class="card-body">
                                @foreach (var ingredient in meal.Ingredients)
                                {
                                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white ">
                                        <p class="mb-0">@meal.Name</p>
                                        <DisplayNutrionalInformation Calories="ingredient.Calories" Carbs="ingredient.Carbs" Protein="ingredient.Protein" Fat="ingredient.Fat" />
                                    </a>
                                }

                            </div>
                            <div class="card-footer">
                                <button type="button" data-toggle="modal"
                                        data-target="#addMeal" class="btn btn-primary btn-block">
                                    Add meal
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <EditForm Model="Meal" OnSubmit="OnHandleCreateMeal">
                    <InputText class="form-control" @bind-Value="Meal.Name" placeholder="Enter Meal Name..." />
                    <button class="btn btn-outline-primary" type="submit">Create Meal</button>
                </EditForm>
            </div>
        </div>

        @* Modal *@
        <AddIngredientComponent />
        } else
            {
                <p>Loading user data...</p>
            }
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to FitnessFad!</h1>
        <h3>Please login to take advantage of our free Calorie calculator!</h3>
    </NotAuthorized>
</AuthorizeView>

