@page "/"

<AuthorizeView>
    <Authorized Context="Auth">
        @if(User != null) { 
        <div class="container">

            <div class="row d-flex justify-content-center pt-5">
                <div class="col-12 text-center">
                    <h2 class="h4 text-muted">Calories left:</h2>
                    
                </div>
                <div class="col-12 text-center">
                    <h2 class="display-4">@(User.CalorieGoal - User.GetCurrentCalories()) kcal</h2>
                    <hr />
                </div>

            </div>
            <div class="row d-flex justify-content-center pb-5">
                <div class="col-md-3">
                    <p class="text-muted text-center mb-0 mt-1">Carbs</p>
                    <p class="text-muted text-center small-text mb-2">@(User.TotalCarbsGoal() - User.GetCurrentCarbs())g left</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @(User.GetProcentOfNumber(User.GetCurrentCarbs(), User.TotalCarbsGoal()))%"
                             aria-valuenow="@User.GetCurrentCarbs()"
                             aria-valuemin="0"
                             aria-valuemax="@User.TotalCarbsGoal()"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="text-muted text-center mb-0 mt-2">Protein</p>
                    <p class="text-muted text-center small-text mb-2 ">@(User.TotalProteinGoal() - User.GetCurrentProtein())g left</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:  @(User.GetProcentOfNumber(User.GetCurrentProtein(), User.TotalProteinGoal()))%"
                             aria-valuenow="@User.GetCurrentProtein()"
                             aria-valuemin="0"
                             aria-valuemax="@User.TotalProteinGoal()"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="text-muted text-center mb-0 mt-2">Fat</p>
                    <p class="text-muted text-center small-text mb-2">@(User.TotalFatGoal() - User.GetCurrentFat())g left</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @(User.GetProcentOfNumber(User.GetCurrentFat(), User.TotalFatGoal()))%"
                             aria-valuenow="@User.GetCurrentFat()"
                             aria-valuemin="0"
                             aria-valuemax="@User.TotalFatGoal()"></div>
                    </div>

                </div>

            </div>
            <hr />
            <div class="row">
               <MealComponent Meals="User.Meals" OnChosenMeal="SetTargetMeal" />
            </div>
            <div class="row">
                <EditForm Model="Meal" OnSubmit="OnHandleCreateMeal">
                    <InputText class="form-control" @bind-Value="Meal.Name" placeholder="Enter Meal Name..." />
                    <button class="btn btn-outline-primary" type="submit">Create Meal</button>
                </EditForm>
            </div>
        </div>

        @* Modal *@
        <AddIngredientComponent OnChosen="HandleOnChosen" />
        } else
            {
                <p>Loading user data...</p>
            }
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to FitnessFad!</h1>
        <h3>Please login to take advantage of our free Calorie calculator!</h3>
    </NotAuthorized>
</AuthorizeView>

