@foreach (var meal in Meals)
{
    <div class="col-md-4 col-sm-12 col-12">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <p>@meal.Name</p>
                <div>
                    <DisplayNutrionalInformation Calories="meal.GetTotalCalories()"
                                                 Carbs="@meal.GetTotalCarbs()"
                                                 Protein="@meal.GetTotalProtein()"
                                                 Fat="@meal.GetTotalFat()" />
                </div>

            </div>
            <div class="card-body">
                @foreach (var ingredient in meal.Ingredients)
                {
                    <a href="#" class="list-group-item list-group-item-action bg-dark text-white ">
                        <p class="mb-0">@ingredient.Name</p>
                        <DisplayNutrionalInformation Calories="ingredient.Calories"
                                                     Carbs="ingredient.Carbs"
                                                     Protein="ingredient.Protein"
                                                     Fat="ingredient.Fat" />
                    </a>
                }

            </div>
            <div class="card-footer">
                <button type="button" data-toggle="modal" @onclick="() => SetTargetMeal(meal) "
                        data-target="#addMeal" class="btn btn-primary btn-block">
                    Add meal
                </button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public List<IIngredientModel> Meals { get; set; }
    [Parameter]
    public EventCallback<IMealModel> OnChosenMeal { get; set; }

    private void HandleOnChosenMeal()

}